<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>{% block title%} Home {% endblock %}</title>
</head>
<body>
    <header>
        {% load static %}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src={% static "js/inMemoryJwt.js" %}></script>
    </header>
    <main>
        {% block javascript %}{% endblock javascript %}
        <a href="{% url "home" %}">Home</a> <br>
        {% if user.is_authenticated %}
        <a href="{% url "auth:logout" %}">Logout</a> <br>
        {% else %}
        <a href="{% url "auth:signup" %}">Signup</a> <br>
        <a href="{% url "auth:login" %}">Login</a> <br>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </main>
    <footer>
    </footer>

</body>
</html>